.graph {
    display: flex;
    margin: 0 100px;
    gap: 2px;
    height: 80vh;
    height: 80dvh;
    align-items: end;
    justify-content: center;

    &__bar {
        background-color: #0E1921;
        width: 3px;
    }
}

@media only screen and (max-width: 1000px) {
    .graph {
        margin: 0 50px;
    }
}